body{
   
    background-color: hsla(201, 41%, 92%, 0.698);
}
#form{
display: flex;
align-items: center;
flex-direction: column;
margin-top: 20px;

}
#f1{
    border-color: rgb(151, 151, 225);
    border-radius: 20px;
    width: 300px;
   
}
#legend:hover{
   
    text-shadow: rgb(19, 166, 203) 3px 3px 3px;

}
#email,#password{
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(212, 211, 208);
    
}
#email:focus,#password:focus {
 outline: none;
 background-color: transparent;
border-color: blue;
  box-shadow: blue 0px 0 px 5px;
}